
#header-img {
  width: 300px;
}
#nav-bar {
  width: 50%;
  float: right;

}
li {
  list-style-type: none;
  float: left;
  width: 25%;
  text-align: center;
  font-size: 20px;

}
a {
  text-decoration: none;
  color: black;
}
header {
  position: fixed;
  background-color: white;
  width: 100%;

  margin-bottom: 20px;
}
#video {
width: 315px;
height: 420px;
  margin-left: auto;
  margin-right: auto;

}
#form {
  width: 100%;
}
#email {
  color: gray;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: gray;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
